%div#header  
  %img{:src => "http://img861.imageshack.us/img861/1296/swilso.jpg", :id => 'profile_pic'}
  <br>
  <br>
  <br>
%body 
  %div#container
    %div.column#center
      center this is the center oh my ghof woakjsdjsak jkdajlka djlka jksajdkajksjdka djksajkdajkdjk ajdka jkdjak jkajdkaj k
    %div.column#left
    %div.column#right
%div#footer
  foot

